body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

.room {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ellie-container {
    position: absolute;
    left: -650px; 
    top: 210px;
    transition: transform 1s ease-in-out;
}

.ellie {
    width: 900px;
}

#ellie-shocked {
    display: none;
    width: 350px; 
    height: 400px;
    margin-top: 50px;
    margin-left: 40%;
}

.thought-box {
    position: absolute;
    top: 0;
    left: 22%;
    width: 550px;
    display: none;
    text-align: center;
}

.thought-box img {
    width: 100%;
}

#thought-text {
    position: absolute;
    font-family: 'Sketchalot', sans-serif;                                          
    top: 43%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 10px;
    letter-spacing: 0.2rem;
    color:rgb(8, 27, 49);
    font-weight: bold;
}

#popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(83, 123, 143, 0.8);
    padding: 5px;
    border-radius: 10px;
    display: none;
    width: 400px;
}

#popup img {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}


.flash-container {
    position: absolute;
    top: 50px;
    left: 10%;
    transform: translateX(-50%);
    width: 400px; 
    height: 250px;
}

.flash {
    opacity: 0; 
    position: absolute;
    width: 450px;
    height: 200px;
    transition: opacity 0.5s ease-in-out;
}

.shadow {
    position: absolute;
    top: 80px;
    right: -250px; 
    width: 400px;
    height: 200px;
    transition: transform 1.5s ease-in-out;
    display: none;  
}

.shadow img {
    width: 100%;
}

.shadow-dialogue {
    position: absolute;
    bottom: -80%;
    right: 25%;
    width: 700px;
    display: none;
    text-align: center;
}

.shadow-dialogue p {
    position: absolute;
    font-family: 'Sketchalot', sans-serif;                                          
    top: 52%;
    right: -13%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 8px;
    letter-spacing: 0.2rem;
    color:rgb(8, 27, 49);
    font-weight: bold;
}

.choice-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.choice {
    background: rgba(83, 123, 143, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.choice p{
    font-size: 0.8rem;
    font-family: 'Sketchalot', sans-serif; 
    color: rgb(8, 27, 49);
}

.choice button {
    font-size: 0.8rem;
    padding: 10px 10px;
    margin: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(8, 27, 49);
    color: rgb(126, 168, 192);
    display: inline-block;
    transform: skewX(-20deg);
    font-family: 'Sketchalot', sans-serif;                                                                      
    transition: 0.3s ease-in-out;
    letter-spacing: 2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.choice button:hover {
    transform: scale(1.1) skewX(-20deg);
    background-color: rgb(11, 17, 22); 
}


@media (max-width: 1024px) {
    .flash-container {
        width: 350px;
        height: 220px;
    }
    .ellie-container {
        left: -779px;
        top: 405px;
    }
    .ellie {
        width: 800px;
    }
    .thought-bubble1 {
        width: 100% !important;
        margin-top: 100px;
        margin-left: -250px;
    }

    #thought-text {
        font-size: 0.85rem;
        left: 42%;
        margin-top: 75px;
    }
    .shadow {
        top: 120px;
        right: -150px;
    }
    .shadow img {
        width: 100%;
        margin-top: 250px;
        margin-left: 50px;
    }
    img.thought-bubble {
        width: 100%;
        margin-top: 80px;
        margin-left: 80px;
    }
    
    .shadow-dialogue p {
        top: 58%;
        right: -26%;
        
        font-size: 8px;
        letter-spacing: 0.1rem; 
    }
}


@media (max-width: 768px) {
    .flash-container {
        width: 300px;
        height: 200px;
    }
    .ellie-container {
        left: -779px;
        top: 405px;
    }
    .ellie {
        width: 800px;
    }
    .thought-bubble1 {
        width: 100% !important;
        margin-top: 100px;
        margin-left: -250px;
    }

    #thought-text {
        font-size: 0.85rem;
        left: 42%;
        margin-top: 75px;
    }
    .shadow {
        top: 120px;
        right: -150px;
    }
    .shadow img {
        width: 100%;
        margin-top: 250px;
        margin-left: 50px;
    }
    img.thought-bubble {
        width: 100%;
        margin-top: 80px;
        margin-left: 80px;
    }
    
    .shadow-dialogue p {
        top: 58%;
        right: -26%;
        
        font-size: 8px;
        letter-spacing: 0.1rem; 
    }
    .choice {
        width: 80%;
    }
}


@media (max-width: 480px) {
    body {
        overflow: hidden;
    }
    .flash-container {
        width: 250px;
        height: 180px;
    }
    .ellie-container {
        left: -779px;
        top: 495px;
    }
    .ellie {
        width: 628px;
    }
    .thought-bubble1 {
        width: 70% !important;
        margin-top: 287px;
        margin-left: -313px;
    }
    #thought-text {
        font-size: 0.4rem;
        left: 32%;
        margin-top: 173px;
    }
    
    #popup {
        left: 41%;
        width: 258px;
    }

    #ellie-shocked {
        width: 250px;
        height: 300px;
        margin-top: -33px;
        margin-left: 37%;
    }

    .shadow img {
        width: 80%;
        margin-top: 321px;
        margin-left: 154px;
    }

    .shadow-dialogue p {
        top: 65%;
        right: -56%;
        
        font-size: 4.5px;
        letter-spacing: 0.1rem; 
    }

    img.thought-bubble {
        width: 76%;
        margin-top: 150px;
        margin-left: 256px;
    }

    .choice {
        width: 65%;
    }
    .choice p {
        font-size: 0.7rem;
    }
    .choice button {
        font-size: 0.5rem;
        padding: 8px 10px;
    }
}
