body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Mangoli', sans-serif;
  }
  
  .room {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ellie-container {
    position: absolute;
    top: 50%;
    left: 20%;
    transition: transform 1s ease-in-out;
  }
  
  .ellie {
    width: 300px;
  }
  
  .dialogue-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(8, 27, 49, 0.9);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: rgb(126, 168, 192);
    font-size: 1.8rem;
    text-align: left;
    display: none;
  }

  #game-over-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 27, 49, 0.9);
    color: rgb(126, 168, 192);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(14, 9, 9);
  }
  
  #game-over-screen p {
    margin: 10px;
  }
  