body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Mangoli', sans-serif;
  }
  
  .room {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ellie-container {
    position: absolute;
    top: 30%;
    left: 10%;
    transition: transform 1s ease-in-out;
  }
  
  .ellie {
    width: 500px;
  }
  
  .dialogue-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(8, 27, 49, 0.9);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: rgb(126, 168, 192);
    font-size: 1.8rem;
    text-align: left;
    display: none;
  }
  
  .book-cipher {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(8, 27, 49, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: rgb(126, 168, 192);
    font-size: 1.5rem;
    text-align: center;
    display: none;
  }
  
  .book-cipher input {
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    border: 2px solid rgb(126, 168, 192);
    border-radius: 5px;
    background: transparent;
    color: rgb(165, 176, 185);
  }
  
  .book-cipher button {
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    border: 2px solid rgb(126, 168, 192);
    border-radius: 5px;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  
  .book-cipher button:hover {
    background: rgba(126, 168, 192, 0.2);
  }
  
  .book-found {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(8, 27, 49, 0.9);
    padding: 20px;
    border-radius: 10px;
    color: rgb(126, 168, 192);
    font-size: 1.5rem;
    text-align: center;
    display: none;
  }
  
  .book-found img {
    width: 400px;
    margin-top: -50px;
    padding: 5%;
  }
  
  .book-found button {
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    border: 2px solid rgb(126, 168, 192);
    border-radius: 5px;
    background: transparent;
    color: white;
    cursor: pointer;
  }
  
  .book-found button:hover {
    background: rgba(126, 168, 192, 0.2);
  }

  @media (max-width: 1024px) {
    .ellie-container {
      top: 70%;
      left: 5%;
    }
  
    .ellie {
      width: 350px;
    }
  
    .dialogue-box {
      font-size: 1.5rem;
      width: 85%;
    }
  
    .book-cipher, .book-found {
      width: 70%;
      font-size: 1.3rem;
      padding: 15px;
    }
  
    .book-found img {
      width: 300px;
    }
  }
  
  
  @media (max-width: 768px) {
    .ellie-container {
      top: 70%;
      left: 8%;
    }
  
    .ellie {
      width: 300px;
    }
  
    .dialogue-box {
      font-size: 1.3rem;
      width: 90%;
    }
  
    .book-cipher, .book-found {
      width: 80%;
      font-size: 1.2rem;
      padding: 10px;
    }
  
    .book-cipher input, .book-cipher button, .book-found button {
      font-size: 1rem;
      padding: 8px;
    }
  
    .book-found img {
      width: 250px;
    }
  }
  
  
  @media (max-width: 480px) {
    .ellie-container {
      top: 65%;
      left: -8%;
    }
  
    .ellie {
      width: 250px;
    }
  
    .dialogue-box {
      font-size: 1.1rem;
      width: 95%;
      padding: 8px;
    }
  
    .book-cipher, .book-found {
      width: 90%;
      font-size: 1rem;
      padding: 8px;
    }
  
    .book-cipher input, .book-cipher button, .book-found button {
      font-size: 0.9rem;
      padding: 6px;
    }
  
    .book-found img {
      width: 200px;
    }
  }