body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Mangoli', sans-serif;
  }
  
  .room {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ellie-container {
    position: absolute;
    top: 30%;
    left: 10%;
    transition: transform 1s ease-in-out;
  }
  
  .ellie {
    width: 500px;
  }
  
  .dialogue-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(8, 27, 49, 0.9);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: rgb(126, 168, 192);
    font-size: 1.8rem;
    text-align: left;
    display: none;
  }
  
  .choice-buttons {
    background-color: rgba(8, 27, 49,0.9);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px;
    width: 70%;
    display: none;
    border-radius: 10px;
    gap: 10%;
    justify-content: center;
  }
  
  .choice-buttons button {
    padding: 8px 5px;
    font-size: 1.2rem;
    border: 3px outset rgba(5, 10, 15, 0.904);
    border-radius: 10px;
    background: rgba(8, 27, 49);
    color: white;
    cursor: pointer;
    align-items: center;
  }
  
  .choice-buttons button:hover {
    border: 3px outset rgb(26, 64, 88);
    background: rgb(0, 0, 0);
      
  }


  @media (max-width: 1024px) {
    .ellie-container {
      top: 70%;
      left: 5%;
    }
  
    .ellie {
      width: 450px;
    }
  
    .dialogue-box {
      font-size: 1.6rem;
      width: 85%;
    }
  
    .choice-buttons {
      padding: 35px;
      width: 75%;
    }
  
    .choice-buttons button {
      font-size: 1.1rem;
    }
  }
  
 
  @media (max-width: 768px) {
    .ellie-container {
      top: 65%;
      left: 0;
    }
  
    .ellie {
      width: 400px;
    }
  
    .dialogue-box {
      font-size: 1.4rem;
      width: 90%;
    }
  
    .choice-buttons {
      padding: 30px;
      width: 80%;
    }
  
    .choice-buttons button {
      font-size: 1rem;
    }
  }
  
 
  @media (max-width: 480px) {
    .ellie-container {
      top: 60%;
      left: -8%;
    }
  
    .ellie {
      width: 300px;
    }
  
    .dialogue-box {
      font-size: 1.2rem;
      width: 95%;
    }
  
    .choice-buttons {
      padding: 20px;
      width: 90%;
    }
  
    .choice-buttons button {
      font-size: 0.9rem;
    }
  }