body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Mangoli', sans-serif;
  }
  
  .room {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ellie-container {
    position: absolute;
    top: 30%;
    left: 20%;
    transition: transform 1s ease-in-out;
  }
  
  .ellie {
    width: 350px;
  }
  
  .dialogue-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(8, 27, 49, 0.9);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: rgb(126, 168, 192);
    font-size: 1.8rem;
    text-align: left;
    display: none;
  }

  .game-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(8, 27, 49, 0.9);
    color: rgb(126, 168, 192);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .game-over-screen button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: rgb(126, 168, 192);
    color: rgba(8, 27, 49, 0.9);
    font-family: 'Mangoli', sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s;
  }
  
  .game-over-screen button:hover {
    background-color: rgba(130, 161, 199, 0.9);
  }

 
@media screen and (max-width: 1024px) {
  .ellie-container {
    top: 70%;
    left: 5%;
  }
  
  .ellie {
    width: 300px;
  }

  .dialogue-box {
    width: 90%;
    font-size: 1.5rem;
  }

  .game-over-screen {
    font-size: 1.8rem;
  }

  .game-over-screen button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}


@media screen and (max-width: 768px) {
  .ellie-container {
    top: 65%;
    left: 10%;
  }

  .ellie {
    width: 300px;
  }

  .dialogue-box {
    width: 95%;
    font-size: 1.3rem;
  }

  .game-over-screen {
    font-size: 1.5rem;
  }

  .game-over-screen button {
    font-size: 0.9rem;
    padding: 8px 14px;
  }
}


@media screen and (max-width: 480px) {
  .ellie-container {
    top: 60%;
    left: -5%;
  }

  .ellie {
    width: 200px;
  }

  .dialogue-box {
    width: 100%;
    font-size: 1.1rem;
    padding: 8px;
  }

  .game-over-screen {
    font-size: 1.2rem;
    text-align: center;
  }

  .game-over-screen button {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}

  